PORT=3001
MONGODB_URI=mongodb://localhost:27017/noxstock-auth
JWT_SECRET=noxstock_jwt_secret_dev_2026
JWT_EXPIRE=24h
NODE_ENV=development
SEED_MASTER_USER=true
MASTER_EMAIL=admin@noxstock.com
MASTER_PASSWORD=NoxStock2026!
MASTER_NOMBRE=Administrador Maestro
