# Servicios Backend - URLs
VITE_AUTH_SERVICE_URL=http://localhost:3001
VITE_INVENTORY_SERVICE_URL=http://localhost:3002
VITE_REPORTS_SERVICE_URL=http://localhost:3003

# Configuración de la Aplicación
VITE_APP_NAME=NoxStock
VITE_APP_VERSION=1.0.0
VITE_ENVIRONMENT=development

# Configuración opcional
# VITE_DEBUG=true
# VITE_LOG_LEVEL=debug
